$window-full-cont-width: 1900px;
$window-mob-cont-width: 320px;

@function VW($size) {
  @return calc($size / $window-full-cont-width) * 100vw;
}

@function VWMob($size) {
  @return calc($size / $window-mob-cont-width) * 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

//reset start
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

html, body {
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  //overflow-x: hidden;
  background-color: #F2F4F7;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6, button, input, label, span, div {
  overflow-wrap: break-word;

  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 600;
  font-size: VW(18px);

  text-decoration: none;
}

.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  clip: rect(0 0 0 0);
  margin: -1px;
  visibility: hidden;
}

.undisplayed {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

//reset end

.hide-on-mob {
  display: block;
}

.btn_black {
  display: block;
  text-align: center;
  width: 100%;

  padding: VW(19px) 0;

  font-size: VW(18px);
  color: #FFFFFF;

  border: none;
  outline: none;

  border-radius: VW(15px);
  background-color: #000000;

  cursor: pointer;
  text-decoration: none;
  user-select: none;

  transition: background-color ease-in-out 250ms;

  &:hover {
    background-color: #2E0041;
  }

  &:disabled {
    cursor: auto;
    color: gray;
    //color: #FFFFFF80;
    //background-color: #0047FF33;
  }
}

.input_white{
  position: relative;
  width: 100%;
  height: VW(50px);

  background-color: #FFFFFF;
  border-radius: VW(15px);

  &-field{
    position: absolute;
    left: VW(30px);
    top: 50%;
    transform: translateY(-50%);
    width: 75%;

    background: none;
    border: none;
    outline: none;

    &::placeholder{
      color: #6F7071;
    }
  }

  &-eye{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: VW(30px);

    width: VW(21px);
    height: VW(13px);

    cursor: pointer;
    user-select: none;

    transition: opacity ease-in-out 250ms;
    opacity: 0;

    &_active{
      opacity: 1;
    }

    img{
      width: 100%;
      height: 100%;
    }
  }

  &-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: VW(20px);


    width: VW(18px);
    height: VW(18px);

    cursor: pointer;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.dropdown {
  width: 100%;
  position: relative;

  &-select {
    background: #FFFFFF;
    //color: #ACB6BF;

    font-weight: 600;
    font-size: VW(16px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: VW(12px);

    width: 100%;
    height: 100%;

    //padding: VW(15px) VW(20px);
    cursor: pointer;

    transition: outline ease-in-out 250ms;

    &_active {
    }

    &:hover {
    }

    &-selected {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: VW(20px);
      color: #000000;

      font-weight: 600;
      font-size: VW(16px);

      span {
        color: #ACB6BF;

        font-weight: 600;
        font-size: VW(16px);
      }

      p {
        color: #000000;

        font-weight: 600;
        font-size: VW(16px);
      }
    }

    &-caret {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: VW(20px);
      width: VW(14px);
      height: VW(9px);

      user-select: none;
      pointer-events: none;

      transition: transform ease-in-out 250ms;

      img {
        width: 100%;
        height: 100%;
      }

      &_rotate {
        transform: rotate(180deg);
      }
    }
  }

  &-menu {
    position: absolute;
    width: 100%;

    list-style: none;
    background: #FFFFFF;

    //border: VW(1px) solid #3D3D3D;
    border-radius: VW(12px);

    //padding: VW(20px) 0;

    transition: linear 250ms;
    z-index: 2;

    //max-height: VW(300px);
    overflow: hidden;

    display: grid;
    grid-template-rows: 0fr;

    &-wrapper {
      z-index: 20;
      //max-height: VW(300px);
      //overflow-y: auto;
      overflow: hidden;
      overscroll-behavior-y: contain;
    }

    div {
      //overflow: hidden;
    }

    &_open {
      //outline: #212739 solid VW(1px);
      grid-template-rows: 1fr;
      margin-top: VW(15px);
      //max-height: VW(300px);
    }

    &-item {
      height: VW(50px);
      //margin:  0  0;
      padding: VW(15px) VW(20px) VW(15px) VW(20px);

      display: flex;
      align-items: center;


      border-radius: VW(12px);

      transition: background ease-out 250ms;

      cursor: pointer;

      &-text{
        font-size: VW(16px);
      }

      &:hover {
        background: #B700FF1A;
        //margin: 0 VW(-30px);
      }

      &_active {
        background: #B700FF1A;
      }
    }
  }
}

.header{
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: VW(40px);

  padding: VW(10px) VW(200px);
  width: 100%;
  height: VW(60px);

  background-color: #FFFFFF;

  &__logo{
    width: VW(113px);
    height: VW(29px);

    margin-right: VW(390px);

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__link{
    font-size: VW(18px);

    transition: color ease-in-out 250ms;

    &:hover{
      color: #B700FF;
    }

    &_active{
      color: #B700FF;
    }

    &_mid{
      margin: 0 VW(22px);
    }
  }

  &__btn{
    margin-left: auto;
    padding: VW(5px) VW(16px) VW(7px);

    font-size: VW(16px);
    color: #B700FF;

    outline: #B700FF solid VW(3px);
    border-radius: VW(14px);

    transition: color ease-in-out 250ms, background-color ease-in-out 250ms;

    &:hover{
      color: #FFFFFF;
      background-color: #B700FF;
    }
  }

  &__notify{
    position: relative;

    width: VW(18px);
    height: VW(21px);

    border: none;
    outline: none;
    background: none;

    cursor: pointer;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: filter ease-in-out 250ms;

      &:hover{
        filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
      }
    }

    &-new{
      position: absolute;
      top: VW(-2px);
      right: VW(-2px);

      display: block;
      content: "";
      width: VW(9px);
      height: VW(9px);

      border-radius: 50%;
      outline: #FFFFFF solid VW(3px);
      background-color: #B700FF;

      pointer-events: none;
      user-select: none;
    }
  }

  &__profile{
    width: VW(21px);
    height: VW(21px);

    transition: filter ease-in-out 250ms;

    &:hover{
      filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
    }

    img{
      width: 100%;
      height: 100%;
    }
  }
}

.auth{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: VW(360px);

  display: grid;
  align-items: center;
  text-align: center;

  &__head{
    font-weight: 700;
    font-size:VW(32px);

    margin-bottom: VW(20px);
  }

  &__input{
    margin-top: VW(30px);
    height: VW(60px);
  }

  &__link{
    color: #00000080;

    margin-top: VW(20px);

    transition: color ease-in-out 250ms;

    &:hover{
      color: #000000;
    }
  }

  &__btn{
    margin-top: VW(50px);
  }

  &__text{
    margin-top: VW(20px);
    a{
      color: #B700FF;
    }
  }
}

.main{
  padding: VW(110px) VW(200px);
  display: grid;
  gap: VW(50px);

  &__filters{
    display: grid;
    grid-template-columns: 1fr repeat(3, VW(280px));
    gap: VW(40px);

    height: VW(50px);
  }

  &__events{
    display: grid;
    gap: VW(40px);

    &-head{
      font-weight: 700;
      font-size: VW(28px);
    }

    &-content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: VW(40px);

      &-slide{
        display: grid;
        grid-template-rows: VW(195px) VW(83px) 1fr VW(49px);
        background-color: #FFFFFF;
        border-radius: VW(25px);
        height: 100%;
        //overflow: hidden;

        &-pic{
          position: relative;
          width: 100%;
          height: VW(195px);
          border-radius: VW(25px);
          overflow: hidden;

          transition: transform ease-in-out 250ms;

          &:hover{
            transform: scale(1.04);
          }

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            user-select: none;
            pointer-events: none;
          }

          p{
            position: absolute;
            bottom: VW(20px);
            left: VW(20px);
            font-size: VW(11px);
            background-color: #FFFFFF;
            border-radius: VW(8px);
            padding: VW(8px) VW(16px);
            box-shadow: 0 0 VW(20px) 0 #0000001F;
          }
        }

        &-head{
          font-size: VW(20px);
          margin: VW(20px) VW(20px) VW(15px);
        }

        &-dates{
          display: flex;
          gap: VW(30px);
          margin: 0 VW(20px) VW(5px);

          &-date{
            display: grid;
            grid-template-columns: min-content min-content;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            gap: VW(2px) VW(8px);

            span{
              grid-column: span 2;
              font-size: VW(14px);
              color: #ACB6BF;
            }

            h4{
              grid-row: span 2;
              font-size: VW(36px);
            }

            p{
              font-size: VW(14px);
              align-self: end;

              &:last-child{
                align-self: start;
              }
            }
          }
        }

        &-info{
          display: flex;
          justify-content: space-between;
          align-items: end;

          margin: 0 VW(20px) VW(20px);

          p{
            font-size: VW(14px);
            color: #ACB6BF;
          }

          &-price{
            font-weight: 700;
            font-size: VW(11px);
            color: #B700FF;

            padding: VW(8px) VW(16px);

            background-color: #B700FF1A;
            border-radius: VW(8px);

            &_free{
              color: #4BB543;
              background-color: #4BB5431A;
            }
          }
        }
      }
    }
  }
}

.event{
  padding: VW(110px) VW(200px);
  display: grid;
  grid-template-columns: 1fr VW(250px);
  gap: VW(50px) VW(112px);

  &__card{
    grid-column: span 2;

    display: grid;
    grid-template-columns: VW(577px) 1fr VW(320px);
    column-gap: VW(40px);

    padding: VW(40px);

    background-color: #FFFFFF;
    border-radius: VW(50px);

    &-pic{
      grid-row: span 4;
      width: 100%;
      border-radius: VW(25px);
      overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-tags{
      display: flex;
      gap: VW(30px);
      align-items: center;

      &-tag{
        padding: VW(8px) VW(16px);
        font-size: VW(14px);

        border-radius: VW(8px);
        box-shadow: 0 0 VW(40px) 0 #00000014;

        &_closed{
          color: #FF0000;
          background-color: #FF00001A;
        }
      }
    }

    &-links{
      justify-self: end;
      display: flex;
      gap: VW(15px);
      align-items: center;

      &-link{
        font-size: VW(14px);
        color: #ACB6BF;
        text-decoration: underline;

        transition: color ease-in-out 250ms;

        &:hover{
          color: #000000;
        }
      }

    }

    &-title{
      grid-column: span 2;
      display: flex;
      align-items: center;
      height: VW(100px);
      font-weight: 700;
      font-size: VW(32px);
    }

    &-info{
      grid-column: span 2;
      display: grid;
      gap: VW(15px);

      &-item{
        display: flex;
        align-items: center;

        &-pic{
          width: VW(16px);
          margin-right: VW(15px);

          img{
            width: 100%;
            height: 100%;
          }
        }

        &-text{
          font-size: VW(16px);

          span{
            color: #FF0000;
          }

          &_prpl{
            color: #B700FF;
          }
        }

        &-ppl{
          width: VW(14px);
          height: VW(14px);

          margin: 0 VW(10px) 0 VW(20px);

          img{
            width: 100%;
            height: 100%;
          }
        }

        &-amount{
          font-size: VW(16px);
          color: #ACB6BF;
          text-decoration: underline;

          transition: color ease-in-out 250ms;

          &:hover{
            color: #000000;
          }
        }
      }
    }

    &-btn{
      grid-column: 3/4;
    }
  }

  &__desc{
    display: grid;
    gap: VW(40px);
    height: fit-content;

    &-head{
      font-weight: 700;
      font-size: VW(28px);
    }

    &-text{
      font-size: VW(20px);
    }

    &-download{
      display: grid;
      grid-template-columns: VW(30px) max-content 1fr;
      gap: VW(6px) VW(15px);

      width: fit-content;

      margin-bottom: VW(10px);
      padding: VW(15px);
      background-color: #FFFFFF;
      border-radius: VW(16px);

      &-pic{
        grid-row: span 2;
        width: 100%;

        img{
          width: 100%;
          height: 100%;
        }
      }

      p{
        grid-column: span 2;
        font-size: VW(16px);
      }

      span{
        font-size: VW(16px);
        color: #ACB6BF;
      }
    }
  }

  &__host{
    display: grid;

    &-head{
      font-size: VW(28px);
      font-weight: 700;
    }

    &-pic{
      width: 100%;
      height: VW(250px);

      border-radius: VW(26px);
      overflow: hidden;

      margin: VW(40px) 0 VW(30px);

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-subhead{
      font-size: VW(16px);
      color: #ACB6BF;

      margin-bottom: VW(10px);
    }

    &-text{
      font-size: VW(16px);

      margin-bottom: VW(15px);
    }

    &-contact{
      display: flex;
      gap: VW(10px);
      align-items: center;

      img{
        width: VW(27px);
      }

      p{
        font-size: VW(16px);
      }
    }
  }
}







.hide-on-desktop {
  display: none;
}


@media (max-width: 768px) {

  .hide-on-desktop {
    display: block;
  }

  a, p, h1, h2, h3, h4, h5, h6, button, input, label {
    overflow-wrap: break-word;

    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: 600;
    font-size: VWMob(10px);
  }

  .btn_black {
    display: block;
    text-align: center;
    width: 100%;

    padding: VWMob(10px) 0 VWMob(11px);

    font-weight: 700;
    font-size: VWMob(10px);
    color: #FFFFFF;

    border: none;
    outline: none;

    border-radius: VWMob(8px);
    background-color: #000000;

    cursor: pointer;
    text-decoration: none;
    user-select: none;

    transition: background-color ease-in-out 250ms;

    &:hover {
      //background-color: #0033B7;
    }

    &:disabled {
      cursor: auto;
      color: gray;
      //color: #FFFFFF80;
      //background-color: #0047FF33;
    }
  }

  .input_white{
    position: relative;
    width: 100%;
    height: VWMob(30px);

    background-color: #FFFFFF;
    border-radius: VWMob(8px);

    &-field{
      position: absolute;
      left: VWMob(15px);
      top: 50%;
      transform: translateY(-50%);
      width: 75%;

      background: none;
      border: none;
      outline: none;

      &::placeholder{
        color: #6F7071;
      }
    }

    &-eye{
      position: absolute;
      top: VWMob(13px);
      right: VWMob(14.5px);

      width: VWMob(14px);
      height: VWMob(8px);

      cursor: pointer;
      user-select: none;

      img{
        width: 100%;
        height: 100%;
      }
    }

    &-search{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: VWMob(15px);


      width: VWMob(14px);
      height: VWMob(14px);

      cursor: pointer;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .dropdown {
    width: 100%;
    position: relative;

    &-select {
      background: #FFFFFF;
      //color: #ACB6BF;

      font-weight: 600;
      font-size: VWMob(12px);

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-radius: VWMob(8px);

      width: 100%;
      height: VWMob(30px);

      //padding: VW(15px) VW(20px);
      cursor: pointer;

      transition: outline ease-in-out 250ms;

      &_active {
      }

      &:hover {
      }

      &-selected {
        height: 100%;
        display: flex;
        align-items: center;


        padding-left: VWMob(15px);
        color: #000000;

        font-weight: 600;
        font-size: VWMob(12px);

        span {
          color: #ACB6BF;

          font-weight: 600;
          font-size: VWMob(12px);
        }

        p {
          color: #000000;

          font-weight: 600;
          font-size: VWMob(12px);
        }
      }

      &-caret {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: VWMob(15px);
        width: VWMob(7px);
        height: VWMob(4px);

        user-select: none;
        pointer-events: none;

        transition: transform ease-in-out 250ms;

        img {
          width: 100%;
          height: 100%;
        }

        &_rotate {
          transform: rotate(180deg);
        }
      }
    }

    &-menu {
      position: absolute;
      width: 100%;

      list-style: none;
      background: #FFFFFF;

      //border: VW(1px) solid #3D3D3D;
      border-radius: VWMob(8px);

      //padding: VW(20px) 0;

      transition: linear 250ms;
      z-index: 2;

      //max-height: VW(300px);
      overflow: hidden;

      display: grid;
      grid-template-rows: 0fr;

      &-wrapper {
        z-index: 20;
        //max-height: VW(300px);
        //overflow-y: auto;
        overflow: hidden;
        overscroll-behavior-y: contain;
      }

      div {
        //overflow: hidden;
      }

      &_open {
        //outline: #212739 solid VW(1px);
        grid-template-rows: 1fr;
        margin-top: VWMob(10px);
        //max-height: VW(300px);
      }

      &-item {
        height: VWMob(30px);
        //margin:  0  0;
        padding: VWMob(7px) VWMob(15px) VWMob(8px) VWMob(15px);

        display: flex;
        align-items: center;


        border-radius: VWMob(8px);

        transition: background ease-out 250ms;

        cursor: pointer;

        &-text{
          font-size: VWMob(12px);
        }

        &:hover {
          background: #B700FF1A;
          //margin: 0 VW(-30px);
        }

        &_active {
          background: #B700FF1A;
        }
      }
    }
  }

  .header{
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 VWMob(25px);

    padding: VWMob(12px) 0 0;
    width: 100%;
    height: fit-content;

    background-color: #FFFFFF;

    &__logo{
      width: VWMob(94px);
      height: VWMob(24px);

      margin-left: VWMob(20px);
      margin-right: auto;

      img{
        width: 100%;
        height: 100%;
      }
    }

    &__link{
      font-size: VWMob(12px);

      transition: color ease-in-out 250ms;

      &:hover{
        color: #B700FF;
      }

      &_active{
        color: #B700FF;
      }

      &_mid{
        margin: 0;
      }
    }

    &__btnMob{
      width: VWMob(20px);
      height: VWMob(20px);

      img{
        width: 100%;
        height: 100%;
      }
    }

    &__notify{
      position: relative;

      width: VWMob(13.5px);
      height: VWMob(15.75px);

      border: none;
      outline: none;
      background: none;

      cursor: pointer;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: filter ease-in-out 250ms;

        &:hover{
          filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
        }
      }

      &-new{
        position: absolute;
        top: VWMob(-1.5px);
        right: VWMob(-1.5px);

        display: block;
        content: "";
        width: VWMob(6.75px);
        height: VWMob(6.75px);

        border-radius: 50%;
        outline: #FFFFFF solid VWMob(1.5px);
        background-color: #B700FF;

        pointer-events: none;
        user-select: none;
      }
    }

    &__profile{
      width: VWMob(14px);
      height: VWMob(14px);

      margin-right: VWMob(20px);

      transition: filter ease-in-out 250ms;

      &:hover{
        filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
      }

      img{
        width: 100%;
        height: 100%;
      }
    }

    &__mob{
      display: flex;
      gap: VWMob(20px);
      justify-content: center;
      align-items: center;

      width: 100%;
      height: VWMob(35px);

      margin-top: VWMob(14px);

      background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);

    }
  }

  .auth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: VWMob(262px);

    display: grid;
    align-items: center;
    text-align: center;

    &__head{
      font-weight: 700;
      font-size:VWMob(20px);

      margin-bottom: VWMob(10px);
    }

    &__input{
      margin-top: VWMob(15px);
    }

    &__link{
      color: #00000080;

      margin-top: VWMob(10px);
    }

    &__btn{
      margin-top: VWMob(25px);
    }

    &__text{
      margin-top: VWMob(10px);
      a{
        color: #B700FF;
      }
    }
  }

  .main{
    padding: VWMob(105px) VWMob(15px);
    display: grid;
    gap: VWMob(20px);

    &__filters{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: VWMob(10px) VWMob(8px);

      max-width: VWMob(290px);
      width: VWMob(290px);
      height: unset;

      &-input{
        grid-column: span 2;
      }

      &-dropdown_1{
        grid-column: span 2;
      }
    }

    &__events{
      display: grid;
      gap: VWMob(15px);

      &-head{
        font-weight: 700;
        font-size: VWMob(20px);
      }

      &-content{
        display: grid;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: VWMob(273px);
        gap: 0;

        margin: 0 VWMob(-15px);
        padding-right: VWMob(15px);

        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: VWMob(15px);

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
          display: none;
        }

        &-slide{
          display: grid;
          grid-template-rows: VWMob(146px) VWMob(60px) 1fr VWMob(38px);
          background-color: #FFFFFF;
          border-radius: VWMob(18.75px);
          height: 100%;

          margin-left: VWMob(15px);
          scroll-snap-align: start;

          &:last-child{
            //margin-right: VWMob(45px);
          }

          &-pic{
            position: relative;
            width: 100%;
            height: VWMob(146px);
            border-radius: VWMob(15px);
            overflow: hidden;

            transition: transform ease-in-out 250ms;

            &:hover{
              transform: scale(1);
            }

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;

              user-select: none;
              pointer-events: none;
            }

            p{
              position: absolute;
              bottom: VWMob(10px);
              left: VWMob(10px);
              font-size: VWMob(9px);
              background-color: #FFFFFF;
              border-radius: VWMob(6px);
              padding: VWMob(6px) VWMob(12px);
              box-shadow: 0 0 VWMob(20px) 0 #0000001F;
            }
          }

          &-head{
            font-size: VWMob(16px);
            margin: VWMob(10px) VWMob(15px);
          }

          &-dates{
            display: flex;
            gap: VWMob(20px);
            margin: 0 VWMob(15px) VWMob(5px);

            &-date{
              display: grid;
              grid-template-columns: min-content min-content;
              grid-template-rows: repeat(3, 1fr);
              align-items: center;
              gap: VWMob(1px) VWMob(6px);

              span{
                grid-column: span 2;
                font-size: VWMob(11px);
                color: #ACB6BF;
              }

              h4{
                grid-row: span 2;
                font-size: VWMob(24px);
              }

              p{
                font-size: VWMob(9px);
                align-self: end;

                &:last-child{
                  align-self: start;
                }
              }
            }
          }

          &-info{
            display: flex;
            justify-content: space-between;
            align-items: end;

            margin: 0 VWMob(15px) VWMob(15px);

            p{
              font-size: VWMob(11px);
              color: #ACB6BF;
            }

            &-price{
              font-weight: 700;
              font-size: VWMob(9px);
              color: #B700FF;

              padding: VWMob(6px) VWMob(12px);

              background-color: #B700FF1A;
              border-radius: VWMob(6px);

              &_free{
                color: #4BB543;
                background-color: #4BB5431A;
              }
            }
          }
        }
      }
    }
  }



  .hide-on-mob {
    display: none;
  }
}