@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

html, body {
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  background-color: #F2F4F7;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6, button, input, label, span, div, textarea {
  overflow-wrap: break-word;
  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 600;
  font-size: 0.9473684211vw;
  text-decoration: none;
}

.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  clip: rect(0 0 0 0);
  margin: -1px;
  visibility: hidden;
}

.hide {
  user-select: none;
  pointer-events: none;
  visibility: hidden;
}

.undisplayed {
  display: none !important;
}

.decoy {
  display: block;
  content: "";
  opacity: 1;
  user-select: none;
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.hide-on-mob {
  display: block;
}

.btn_black {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1vw 0;
  font-size: 0.9473684211vw;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 0.7894736842vw;
  background-color: #000000;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transition: background-color ease-in-out 250ms;
}
.btn_black:hover {
  background-color: #2E0041;
}
.btn_black:disabled {
  cursor: auto;
  color: gray;
}

.input_white {
  position: relative;
  width: 100%;
  height: 3.1578947368vw;
  background-color: #FFFFFF;
  border-radius: 0.7894736842vw;
}
.input_white-field {
  position: absolute;
  left: 1.5789473684vw;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
.input_white-field::placeholder {
  color: #6F7071;
}
.input_white-field_date {
  left: 2.7894736842vw;
}
.input_white-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5789473684vw;
  width: 1.1052631579vw;
  height: 0.6842105263vw;
  cursor: pointer;
  user-select: none;
  transition: opacity ease-in-out 250ms;
  opacity: 0;
}
.input_white-eye_active {
  opacity: 1;
}
.input_white-eye img {
  width: 100%;
  height: 100%;
}
.input_white-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.0526315789vw;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  cursor: pointer;
}
.input_white-search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.input_white-calendar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.0526315789vw;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}
.input_white_gray {
  background: #F0F5FA;
}

.textarea {
  position: relative;
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 3.1578947368vw;
  height: 3.1578947368vw;
  background-color: #F0F5FA;
  border-radius: 0.7894736842vw;
  border: none;
  outline: none;
  line-height: 1.1547368421vw;
  padding: 1vw 1.5789473684vw;
}

.dropdown {
  width: 100%;
  position: relative;
}
.dropdown-select {
  background: #FFFFFF;
  font-weight: 600;
  font-size: 0.8421052632vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.6315789474vw;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: outline ease-in-out 250ms;
}
.dropdown-select-selected {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.0526315789vw;
  color: #000000;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-selected span {
  color: #ACB6BF;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-selected p {
  color: #000000;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.0526315789vw;
  width: 0.7368421053vw;
  height: 0.4736842105vw;
  user-select: none;
  pointer-events: none;
  transition: transform ease-in-out 250ms;
}
.dropdown-select-caret img {
  width: 100%;
  height: 100%;
}
.dropdown-select-caret_rotate {
  transform: rotate(180deg);
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 0.6315789474vw;
  transition: linear 250ms;
  z-index: 20;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
}
.dropdown-menu-wrapper {
  z-index: 20;
  overflow: hidden;
  overscroll-behavior-y: contain;
}
.dropdown-menu-wrapper_dates {
  transition: padding linear 250ms;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.7894736842vw 0.8421052632vw;
}
.dropdown-menu-month {
  background: none;
  border: none;
  outline: none;
  grid-column: span 5;
  font-size: 0.7368421053vw;
}
.dropdown-menu-arrow {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 0.8421052632vw;
  height: 0.6315789474vw;
}
.dropdown-menu-arrow_left {
  transform: rotate(180deg);
}
.dropdown-menu-arrow img {
  width: 100%;
  height: 100%;
}
.dropdown-menu-day {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.7368421053vw;
  width: 100%;
  height: 100%;
  border-radius: 0.3157894737vw;
  transition: background-color ease-in-out 250ms;
}
.dropdown-menu-day_bold {
  font-weight: 700;
}
.dropdown-menu-day_pink {
  color: #B700FF;
}
.dropdown-menu-day_gray {
  color: #ACB6BF;
}
.dropdown-menu-day:hover {
  background: rgba(183, 0, 255, 0.1019607843);
}
.dropdown-menu_open {
  grid-template-rows: 1fr;
  margin-top: 0.7894736842vw;
}
.dropdown-menu_open .dropdown-menu-wrapper_dates {
  padding: 0.7894736842vw;
}
.dropdown-menu-item {
  height: 2.6315789474vw;
  padding: 0.7894736842vw 1.0526315789vw 0.7894736842vw 1.0526315789vw;
  display: flex;
  align-items: center;
  border-radius: 0.6315789474vw;
  transition: background ease-out 250ms;
  cursor: pointer;
}
.dropdown-menu-item-text {
  font-size: 0.8421052632vw;
}
.dropdown-menu-item:hover {
  background: rgba(183, 0, 255, 0.1019607843);
}
.dropdown-menu-item_active {
  background: rgba(183, 0, 255, 0.1019607843);
}
.dropdown_gray .dropdown-select, .dropdown_gray .dropdown-menu {
  background: #F0F5FA;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.7894736842vw;
}

.save {
  position: fixed;
  left: 10.5263157895vw;
  bottom: 2.6315789474vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5263157895vw;
  width: 78.2105263158vw;
  border-radius: 0.7894736842vw;
  background-color: #FFFFFF;
  transition: opacity ease-in-out 250ms;
}
.save__btn {
  width: 16.8421052632vw;
}
.save_hide {
  pointer-events: none;
  opacity: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.1052631579vw;
  padding: 0.5263157895vw 10.5263157895vw;
  width: 100%;
  height: 3.1578947368vw;
  background-color: #FFFFFF;
}
.header__logo {
  width: 5.9473684211vw;
  height: 1.5263157895vw;
  margin-right: 20.5263157895vw;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__link {
  font-size: 0.9473684211vw;
  transition: color ease-in-out 250ms;
}
.header__link:hover {
  color: #B700FF;
}
.header__link_active {
  color: #B700FF;
}
.header__link_mid {
  margin: 0 1.1578947368vw;
}
.header__btn {
  margin-left: auto;
  padding: 0.2631578947vw 0.8421052632vw 0.3684210526vw;
  font-size: 0.8421052632vw;
  color: #B700FF;
  outline: #B700FF solid 0.1578947368vw;
  border-radius: 0.7368421053vw;
  transition: color ease-in-out 250ms, background-color ease-in-out 250ms;
}
.header__btn:hover {
  color: #FFFFFF;
  background-color: #B700FF;
}
.header__notify {
  position: relative;
  width: 0.9473684211vw;
  height: 1.1052631579vw;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.header__notify img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter ease-in-out 250ms;
}
.header__notify img:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
}
.header__notify-new {
  position: absolute;
  top: -0.1052631579vw;
  right: -0.1052631579vw;
  display: block;
  content: "";
  width: 0.4736842105vw;
  height: 0.4736842105vw;
  border-radius: 50%;
  outline: #FFFFFF solid 0.1578947368vw;
  background-color: #B700FF;
  pointer-events: none;
  user-select: none;
}
.header__profile {
  width: 1.1052631579vw;
  height: 1.1052631579vw;
  transition: filter ease-in-out 250ms;
}
.header__profile:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
}
.header__profile img {
  width: 100%;
  height: 100%;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.9473684211vw;
  display: grid;
  align-items: center;
  text-align: center;
}
.auth__head {
  font-weight: 700;
  font-size: 1.6842105263vw;
  margin-bottom: 1.0526315789vw;
}
.auth__input {
  margin-top: 1.5789473684vw;
  height: 3.1578947368vw;
}
.auth__link {
  color: rgba(0, 0, 0, 0.5019607843);
  margin-top: 1.0526315789vw;
  transition: color ease-in-out 250ms;
}
.auth__link:hover {
  color: #000000;
}
.auth__btn {
  margin-top: 2.6315789474vw;
}
.auth__text {
  margin-top: 1.0526315789vw;
}
.auth__text a {
  color: #B700FF;
}

.main {
  padding: 5.7894736842vw 10.5263157895vw;
  display: grid;
  gap: 2.6315789474vw;
}
.main__filters {
  display: grid;
  grid-template-columns: 1fr repeat(3, 14.7368421053vw);
  gap: 2.1052631579vw;
  height: 2.6315789474vw;
}
.main__filters-input {
  height: 2.6315789474vw;
}
.main__events {
  display: grid;
  gap: 2.1052631579vw;
}
.main__events-head {
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.main__events-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.1052631579vw;
}
.main__events-content-slide {
  display: grid;
  grid-template-rows: 10.2631578947vw 4.3684210526vw 1fr 2.5789473684vw;
  background-color: #FFFFFF;
  border-radius: 1.3157894737vw;
  height: 100%;
}
.main__events-content-slide-pic {
  position: relative;
  width: 100%;
  height: 10.2631578947vw;
  border-radius: 1.3157894737vw;
  overflow: hidden;
  transition: transform ease-in-out 250ms;
}
.main__events-content-slide-pic:hover {
  transform: scale(1.04);
}
.main__events-content-slide-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
}
.main__events-content-slide-pic p {
  position: absolute;
  bottom: 1.0526315789vw;
  left: 1.0526315789vw;
  font-size: 0.5789473684vw;
  background-color: #FFFFFF;
  border-radius: 0.4210526316vw;
  padding: 0.4210526316vw 0.8421052632vw;
  box-shadow: 0 0 1.0526315789vw 0 rgba(0, 0, 0, 0.1215686275);
}
.main__events-content-slide-head {
  font-size: 1.0526315789vw;
  margin: 1.0526315789vw 1.0526315789vw 0.7894736842vw;
}
.main__events-content-slide-dates {
  display: flex;
  gap: 1.5789473684vw;
  margin: 0 1.0526315789vw 0.2631578947vw;
}
.main__events-content-slide-dates-date {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 0.1052631579vw 0.4210526316vw;
}
.main__events-content-slide-dates-date span {
  grid-column: span 2;
  font-size: 0.7368421053vw;
  color: #ACB6BF;
}
.main__events-content-slide-dates-date h4 {
  grid-row: span 2;
  font-size: 1.8947368421vw;
}
.main__events-content-slide-dates-date p {
  font-size: 0.7368421053vw;
  align-self: end;
}
.main__events-content-slide-dates-date p:last-child {
  align-self: start;
}
.main__events-content-slide-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 1.0526315789vw 1.0526315789vw;
}
.main__events-content-slide-info p {
  font-size: 0.7368421053vw;
  color: #ACB6BF;
}
.main__events-content-slide-info-price {
  font-weight: 700;
  font-size: 0.5789473684vw;
  color: #B700FF;
  padding: 0.4210526316vw 0.8421052632vw;
  background-color: rgba(183, 0, 255, 0.1019607843);
  border-radius: 0.4210526316vw;
}
.main__events-content-slide-info-price_free {
  color: #4BB543;
  background-color: rgba(75, 181, 67, 0.1019607843);
}

.event {
  padding: 5.7894736842vw 10.5263157895vw;
  display: grid;
  grid-template-columns: 1fr 13.1578947368vw;
  gap: 2.6315789474vw 5.8947368421vw;
}
.event__card {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 30.3684210526vw 1fr 16.8421052632vw;
  column-gap: 2.1052631579vw;
  padding: 2.1052631579vw;
  background-color: #FFFFFF;
  border-radius: 2.6315789474vw;
}
.event__card-pic {
  grid-row: span 4;
  width: 100%;
  border-radius: 1.3157894737vw;
  overflow: hidden;
}
.event__card-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.event__card-tags {
  display: flex;
  gap: 1.5789473684vw;
  align-items: center;
}
.event__card-tags-tag {
  padding: 0.4210526316vw 0.8421052632vw;
  font-size: 0.7368421053vw;
  border-radius: 0.4210526316vw;
  box-shadow: 0 0 2.1052631579vw 0 rgba(0, 0, 0, 0.0784313725);
}
.event__card-tags-tag_closed {
  color: #FF0000;
  background-color: rgba(255, 0, 0, 0.1019607843);
}
.event__card-links {
  justify-self: end;
  display: flex;
  gap: 0.7894736842vw;
  align-items: center;
}
.event__card-links-link {
  font-size: 0.7368421053vw;
  color: #ACB6BF;
  text-decoration: underline;
  transition: color ease-in-out 250ms;
}
.event__card-links-link:hover {
  color: #000000;
}
.event__card-title {
  grid-column: span 2;
  display: flex;
  align-items: center;
  height: 5.2631578947vw;
  font-weight: 700;
  font-size: 1.6842105263vw;
}
.event__card-info {
  grid-column: span 2;
  display: grid;
  gap: 0.7894736842vw;
}
.event__card-info-item {
  display: flex;
  align-items: center;
}
.event__card-info-item-pic {
  width: 0.8421052632vw;
  margin-right: 0.7894736842vw;
}
.event__card-info-item-pic img {
  width: 100%;
  height: 100%;
}
.event__card-info-item-text {
  font-size: 0.8421052632vw;
}
.event__card-info-item-text span {
  color: #FF0000;
}
.event__card-info-item-text_prpl {
  color: #B700FF;
}
.event__card-info-item-ppl {
  width: 0.7368421053vw;
  height: 0.7368421053vw;
  margin: 0 0.5263157895vw 0 1.0526315789vw;
}
.event__card-info-item-ppl img {
  width: 100%;
  height: 100%;
}
.event__card-info-item-amount {
  font-size: 0.8421052632vw;
  color: #ACB6BF;
  text-decoration: underline;
  transition: color ease-in-out 250ms;
}
.event__card-info-item-amount:hover {
  color: #000000;
}
.event__card-btn {
  grid-column: 3/4;
}
.event__desc {
  display: grid;
  gap: 2.1052631579vw;
  height: fit-content;
}
.event__desc-head {
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.event__desc-text {
  font-size: 1.0526315789vw;
}
.event__desc-download {
  display: grid;
  grid-template-columns: 1.5789473684vw max-content 1fr;
  gap: 0.3157894737vw 0.7894736842vw;
  width: fit-content;
  margin-bottom: 0.5263157895vw;
  padding: 0.7894736842vw;
  background-color: #FFFFFF;
  border-radius: 0.8421052632vw;
}
.event__desc-download-pic {
  grid-row: span 2;
  width: 100%;
}
.event__desc-download-pic img {
  width: 100%;
  height: 100%;
}
.event__desc-download p {
  grid-column: span 2;
  font-size: 0.8421052632vw;
}
.event__desc-download span {
  font-size: 0.8421052632vw;
  color: #ACB6BF;
}
.event__desc-invite {
  display: flex;
  height: 3.1578947368vw;
  gap: 1.5789473684vw;
}
.event__desc-invite-input {
  min-width: 38.4210526316vw;
  width: 38.4210526316vw;
}
.event__host {
  display: grid;
}
.event__host-head {
  font-size: 1.4736842105vw;
  font-weight: 700;
}
.event__host-pic {
  width: 100%;
  height: 13.1578947368vw;
  border-radius: 1.3684210526vw;
  overflow: hidden;
  margin: 2.1052631579vw 0 1.5789473684vw;
}
.event__host-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.event__host-subhead {
  font-size: 0.8421052632vw;
  color: #ACB6BF;
  margin-bottom: 0.5263157895vw;
}
.event__host-text {
  font-size: 0.8421052632vw;
  margin-bottom: 0.7894736842vw;
}
.event__host-contact {
  display: flex;
  gap: 0.5263157895vw;
  align-items: center;
  cursor: pointer;
}
.event__host-contact:not(:last-child) {
  margin-bottom: 0.5263157895vw;
}
.event__host-contact img {
  width: 1.4210526316vw;
}
.event__host-contact:hover p {
  text-decoration: underline;
}
.event__host-contact p {
  font-size: 0.8421052632vw;
  transition: text-decoration ease-in-out 250ms;
}

.profile {
  position: relative;
  display: grid;
  gap: 2.1052631579vw;
  padding: 5.7894736842vw 10.5263157895vw 15.7894736842vw;
}
.profile__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__head h1 {
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.profile__head button {
  font-weight: 700;
  font-size: 1.4736842105vw;
  color: #FF0000;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.profile__info {
  display: grid;
  grid-template-columns: 25.6842105263vw 20.4210526316vw 1fr 8.4736842105vw;
  gap: 1.5789473684vw 2.1052631579vw;
  height: 25.1578947368vw;
  margin-bottom: 0.5263157895vw;
}
.profile__info-pic {
  grid-row: span 4;
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0.5263157895vw;
  border-radius: 1.3684210526vw;
  overflow: hidden;
}
.profile__info-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__info-pic-change {
  position: absolute;
  top: 1.5789473684vw;
  right: 1.5789473684vw;
  width: 2.6315789474vw;
  height: 2.6315789474vw;
  border-radius: 0.7894736842vw;
  overflow: hidden;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  user-select: none;
  transition: transform ease-in-out 250ms;
}
.profile__info-pic-change:hover {
  transform: scale(1.1);
}
.profile__info-block {
  display: grid;
  gap: 0.7894736842vw;
}
.profile__info-block_span2 {
  grid-column: span 2;
}
.profile__info-block_span3 {
  grid-column: span 3;
}
.profile__info_contact {
  grid-template-columns: 1fr 1fr;
  height: min-content;
}

.create {
  display: grid;
  gap: 2.6315789474vw;
  padding: 5.7894736842vw 10.5263157895vw;
  position: relative;
}
.create__head {
  font-weight: 700;
  font-size: 1.6842105263vw;
}
.create__item-head {
  display: flex;
  cursor: pointer;
  user-select: none;
}
.create__item-head h1 {
  font-weight: 600;
  font-size: 1.2631578947vw;
  color: #ACB6BF;
  transition: color ease-in-out 250ms;
}
.create__item-head h1 span {
  font-weight: 600;
  font-size: 1.2631578947vw;
  color: #B700FF;
}
.create__item-head h1:hover {
  color: #B700FF;
}
.create__item-head_active h1 {
  color: #B700FF;
}
.create__item-head_passed h1 {
  color: black;
}
.create__item-content {
  position: absolute;
  right: 5.7894736842vw;
  top: 10.5263157895vw;
  width: 52.6315789474vw;
  border-radius: 1.5789473684vw;
  background: #FFFFFF;
  display: grid;
  max-height: 0;
  overflow: hidden;
}
.create__item-content-wrap {
  overflow: hidden;
}
.create__item-content-head {
  font-weight: 700;
  font-size: 1.4736842105vw;
  color: #000000;
}
.create__item-content-head span {
  font-weight: 700;
  font-size: 1.4736842105vw;
  color: #B700FF;
}
.create__item-content-text {
  margin-top: 1.5789473684vw;
  font-weight: 600;
  font-size: 0.9473684211vw;
  line-height: 1.2315789474vw;
}
.create__item-content-btn, .create__item-content-confirm {
  justify-self: end;
  margin-top: 2.6315789474vw;
  width: 16.8421052632vw;
}
.create__item-content-input {
  margin-top: 1.5789473684vw;
  width: 38.4210526316vw;
}
.create__item-content-input_short {
  width: 16.8421052632vw;
}
.create__item-content-dates {
  margin-top: 1.5789473684vw;
  display: grid;
  grid-template-columns: 4vw 16.6315789474vw 4vw 16.6315789474vw;
  gap: 1.0526315789vw 1.5789473684vw;
}
.create__item-content-dates-head {
  grid-column: span 2;
}
.create__item-content-dates-remove {
  grid-column: span 2;
  color: #FF0000;
  text-decoration: underline;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.create__item-content-dates-text {
  align-self: center;
}
.create__item-content-dates-check {
  grid-column: span 4;
  display: flex;
  align-items: center;
  gap: 0.7894736842vw;
  cursor: pointer;
  user-select: none;
}
.create__item-content-dates-check span {
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  border: 0.1578947368vw solid #000000;
  border-radius: 0.3157894737vw;
}
.create__item-content-dates-check span img {
  width: 100%;
  height: 100%;
  display: none;
}
.create__item-content-dates input:checked + label span {
  border: none;
}
.create__item-content-dates input:checked + label span img {
  display: block;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}
.create__item-content-dates-amount {
  grid-column: span 2;
  width: 16.6315789474vw;
}
.create__item-content-info {
  margin-top: 1.5789473684vw;
  display: grid;
  grid-template-columns: 16.8421052632vw 4.2105263158vw;
  gap: 1.0526315789vw 1.5789473684vw;
}
.create__item-content-info-remove {
  color: #FF0000;
  text-decoration: underline;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.create__item-content-add {
  margin-top: 1.0526315789vw;
  color: #ACB6BF;
  text-decoration: underline;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.create__item-content-file {
  height: 3.1578947368vw;
  margin-top: 1.5789473684vw;
  display: grid;
  grid-template-columns: 16.8421052632vw 1fr;
  gap: 0.3157894737vw 1.5789473684vw;
}
.create__item-content-file-upload {
  height: 100%;
  width: 100%;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7894736842vw;
  background: #E8E8E8;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
.create__item-content-file p {
  align-self: end;
}
.create__item-content-file p span {
  color: #ACB6BF;
}
.create__item-content-file-delete {
  align-self: start;
  color: #FF0000;
  text-decoration: underline;
  width: fit-content;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
.create__item-content-radios {
  display: flex;
  align-items: center;
  gap: 1.5789473684vw;
  margin-top: 1.5789473684vw;
}
.create__item-content-radios-btn {
  display: flex;
  align-items: center;
  gap: 0.7894736842vw;
  cursor: pointer;
  user-select: none;
}
.create__item-content-radios-btn:hover span {
  border-color: #B700FF;
}
.create__item-content-radios-btn span {
  position: relative;
  display: block;
  content: "";
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  border: 0.1578947368vw solid #000000;
  border-radius: 50%;
  transition: border ease-in-out 250ms;
}
.create__item-content-radios input:checked + label span {
  border-color: #B700FF;
}
.create__item-content-radios input:checked + label span:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 0.4210526316vw;
  height: 0.4210526316vw;
  background: #B700FF;
  border-radius: 50%;
}
.create__item-content-inputs {
  display: grid;
  grid-template-columns: 16.8421052632vw 20vw;
  align-content: center;
  gap: 1.5789473684vw;
}
.create__item-content-inputs p {
  display: flex;
  align-items: center;
}
.create__item-content-hidden {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 400ms, margin 400ms;
}
.create__item-content-hidden_show {
  margin-top: 1.5789473684vw;
  grid-template-rows: 1fr;
}
.create__item-content-dropdown {
  width: 16.8421052632vw;
  height: 3.1578947368vw;
  margin-top: 1.5789473684vw;
  position: static;
}
.create__item-content-dropdown-select {
  position: relative;
}
.create__item-content-dropdown-menu {
  width: 16.8421052632vw;
}
.create__item-content_active {
  overflow: unset;
  max-height: unset;
  padding: 2.1052631579vw;
}

.invite {
  display: grid;
  gap: 2.6315789474vw;
  padding: 5.7894736842vw 10.5263157895vw;
}
.invite__head {
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.invite__item {
  display: grid;
  gap: 1.5789473684vw;
  grid-template-columns: 38.4210526316vw 1fr;
}
.invite__item-head {
  grid-column: span 2;
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.invite__item-text {
  grid-column: span 2;
}
.invite__item-link {
  width: 100%;
  height: 3.1578947368vw;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1.5789473684vw;
  border-radius: 0.7894736842vw;
  background-color: #FFFFFF;
}
.invite__item-copy {
  width: 1.5789473684vw;
  height: 1.5789473684vw;
  align-self: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.invite__item-copy img {
  width: 1.5789473684vw;
  height: 1.5789473684vw;
}
.invite__item-add, .invite__item-delete {
  justify-self: start;
  text-decoration: underline;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.invite__item-delete {
  color: #FF0000;
}
.invite__item-send {
  grid-column: span 2;
  width: 16.8421052632vw;
}
.invite__item-create {
  text-decoration: underline;
  color: #B700FF;
  grid-column: span 2;
}
.invite__item-invites {
  width: 21.8421052632vw;
  display: grid;
  gap: 1.5789473684vw;
}
.invite__item-team {
  display: grid;
}
.invite__item-team-head {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.7894736842vw;
  width: 21.8421052632vw;
  cursor: pointer;
  user-select: none;
}
.invite__item-team-head-checkbox {
  display: block;
  content: "&#x2713";
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  border: #ACB6BF 0.1052631579vw solid;
  border-radius: 0.3157894737vw;
  overflow: hidden;
  cursor: pointer;
}
.invite__item-team-head-checkbox img {
  display: none;
}
.invite__item-team-head input:checked + label {
  border: none;
}
.invite__item-team-head input:checked + label img {
  display: block;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}
.invite__item-team-head h1 {
  font-weight: 600;
  font-size: 1.0526315789vw;
  margin-right: auto;
}
.invite__item-team-head-pic {
  width: 0.7368421053vw;
  height: 0.4210526316vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: transform ease-in-out 250ms;
}
.invite__item-team-head-pic img {
  width: 100%;
  height: 100%;
}
.invite__item-team-head_active .invite__item-team-head-pic {
  transform: rotate(180deg);
}
.invite__item-team-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 400ms, margin 400ms;
}
.invite__item-team-content-wrap {
  overflow: hidden;
}
.invite__item-team-content-member {
  display: flex;
  align-items: center;
  gap: 0.7894736842vw;
  padding-top: 1.0526315789vw;
  margin-left: 1.7368421053vw;
}
.invite__item-team-content-member-checkbox {
  display: block;
  content: "&#x2713";
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  border: #ACB6BF 0.1052631579vw solid;
  border-radius: 0.3157894737vw;
  overflow: hidden;
  cursor: pointer;
}
.invite__item-team-content-member-checkbox img {
  display: none;
}
.invite__item-team-content-member input:checked + label {
  border: none;
}
.invite__item-team-content-member input:checked + label img {
  display: block;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}
.invite__item-team-content_active {
  grid-template-rows: 1fr;
}

.teams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.1052631579vw;
  padding: 5.7894736842vw 10.5263157895vw;
}
.teams__input {
  width: 100%;
  height: 2.6315789474vw;
}
.teams__btn {
  width: 14.7368421053vw;
  height: 2.6315789474vw;
  padding: 0.7894736842vw;
  font-size: 0.8421052632vw;
  justify-self: end;
}
.teams h2 {
  grid-column: span 2;
  font-weight: 700;
  font-size: 1.4736842105vw;
  margin-top: 0.5263157895vw;
}
.teams__team {
  display: grid;
  grid-template-columns: 18.1578947368vw 1fr;
  gap: 1.0526315789vw;
  height: 10.2631578947vw;
  border-radius: 1.3157894737vw;
  overflow: hidden;
  background: #FFFFFF;
}
.teams__team-pic {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  border-radius: 1.3157894737vw;
  overflow: hidden;
}
.teams__team-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.teams__team h3 {
  font-size: 1.0526315789vw;
  margin: 1.0526315789vw 1.0526315789vw 0 0;
}
.teams__team-amount {
  display: flex;
  align-items: center;
  gap: 0.5263157895vw;
  margin: auto 1.0526315789vw 1.0526315789vw 0;
}
.teams__team-amount-pic {
  width: 0.7368421053vw;
  height: 0.7368421053vw;
}
.teams__team-amount-pic img {
  width: 100%;
  height: 100%;
}
.teams__team-amount p {
  color: #ACB6BF;
}

.team {
  padding: 5.7894736842vw 10.5263157895vw;
  display: grid;
}
.team__card {
  display: grid;
  grid-template-columns: 30.3684210526vw 1fr 16.8421052632vw;
  column-gap: 2.1052631579vw;
  padding: 2.1052631579vw;
  background-color: #FFFFFF;
  border-radius: 2.6315789474vw;
}
.team__card-pic {
  grid-row: span 3;
  width: 100%;
  border-radius: 1.3157894737vw;
  overflow: hidden;
}
.team__card-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.team__card-title {
  grid-column: span 2;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.6842105263vw;
  margin-bottom: 1.5789473684vw;
}
.team__card-text {
  grid-column: span 2;
  height: 8.3157894737vw;
}
.team__card-exit {
  align-self: end;
  justify-self: start;
  font-size: 0.7368421053vw;
  color: #FF0000;
  width: 9.2105263158vw;
  height: 1.7368421053vw;
  border-radius: 0.4210526316vw;
  border: none;
  outline: none;
  background: rgba(255, 0, 0, 0.1019607843);
  box-shadow: 0 0 2.1052631579vw 0 rgba(0, 0, 0, 0.0784313725);
  cursor: pointer;
}
.team__card-btn {
  grid-column: 3/4;
  height: 3.1578947368vw;
}
.team__head {
  font-weight: 700;
  font-size: 1.4736842105vw;
  margin: 2.6315789474vw 0 2.1052631579vw;
}
.team__head span {
  color: #B700FF;
}
.team__members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5789473684vw;
}
.team__members-member {
  position: relative;
  display: grid;
  grid-template-columns: 3.6842105263vw 1fr;
  gap: 1.0526315789vw;
  height: 5.7894736842vw;
  padding: 1.0526315789vw;
  border-radius: 1.0526315789vw;
  background: #FFFFFF;
}
.team__members-member-delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.1052631579vw;
  height: 2.1052631579vw;
  background: rgba(255, 0, 0, 0.1019607843);
  border-radius: 2.1578947368vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.team__members-member-delete img {
  width: 1.2631578947vw;
  height: 1.2631578947vw;
  user-select: none;
}
.team__members-member-links {
  position: absolute;
  right: 1.0526315789vw;
  bottom: 1.0526315789vw;
  width: 6.3157894737vw;
  height: 1.0526315789vw;
  display: flex;
  justify-content: space-between;
  gap: 0.7894736842vw;
}
.team__members-member-links img {
  width: 100%;
  height: 100%;
}
.team__members-member-pic {
  width: 100%;
  height: 100%;
  border-radius: 1.0526315789vw;
  overflow: hidden;
  pointer-events: none;
}
.team__members-member-pic img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.team__members-member-name {
  margin-top: 0.2631578947vw;
}

.dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 1.5789473684vw;
  box-shadow: 0 0 4vw 0 rgba(0, 0, 0, 0.0784313725);
  background: #F0F5FA;
}
.dialog::backdrop {
  background: none;
}
.dialog_members {
  width: 29.2631578947vw;
}
.dialog_change, .dialog_pass, .dialog_request, .dialog_gratz, .dialog_end {
  width: 23.1578947368vw;
}
.dialog__content {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2.1052631579vw;
}
.dialog__content-close {
  justify-self: end;
  width: 0.7894736842vw;
  height: 0.7894736842vw;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.dialog__content-close img {
  width: 100%;
  height: 100%;
}
.dialog__content-title {
  font-weight: 700;
  font-size: 1.6842105263vw;
  text-align: center;
  margin-bottom: 2.6315789474vw;
}
.dialog__content-title_no-margin {
  margin-bottom: 0;
}
.dialog__content-title_red {
  color: #FF0000;
}
.dialog__content-sub_title {
  margin: 1.5789473684vw 0 1.0526315789vw;
}
.dialog__content-dropdown {
  width: 100%;
  height: 3.1578947368vw;
}
.dialog__content-dropdown_short {
  width: 8.5789473684vw;
}
.dialog__content-members {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.0526315789vw;
  margin-top: 1.5789473684vw;
}
.dialog__content-members p {
  color: #B700FF;
  font-size: 1.0526315789vw;
  margin-right: auto;
}
.dialog__content-members div {
  width: 1.1052631579vw;
  height: 1.3684210526vw;
  cursor: pointer;
  user-select: none;
}
.dialog__content-members div img {
  width: 100%;
  height: 100%;
}
.dialog__content-member {
  display: grid;
  grid-template-columns: 3.6842105263vw 1fr;
  gap: 0.3684210526vw 1.0526315789vw;
  margin-top: 1.0526315789vw;
}
.dialog__content-member-pic {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  border-radius: 1.0526315789vw;
  overflow: hidden;
}
.dialog__content-member-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.dialog__content-member p {
  align-self: end;
}
.dialog__content-member-links {
  display: flex;
  align-items: start;
  gap: 0.7894736842vw;
}
.dialog__content-member-links a {
  width: 1vw;
  height: 1vw;
}
.dialog__content-member-links a img {
  width: 100%;
  height: 100%;
}
.dialog__content-member-info {
  margin: 0.3684210526vw 0 0.5263157895vw;
  grid-column: span 2;
  display: grid;
  gap: 0.5263157895vw;
}
.dialog__content-member-info-text {
  color: #ACB6BF;
}
.dialog__content-upload {
  display: grid;
  grid-template-columns: 3.1578947368vw 1fr;
  gap: 0.3157894737vw 1.5789473684vw;
  height: 3.1578947368vw;
  margin-top: 1.5789473684vw;
}
.dialog__content-upload-btn {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  border-radius: 0.7894736842vw;
  outline: none;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E8E8E8;
  font-size: 1.6842105263vw;
  cursor: pointer;
  user-select: none;
}
.dialog__content-upload p {
  align-self: end;
}
.dialog__content-upload span {
  align-self: start;
  color: #ACB6BF;
}
.dialog__content-btn {
  margin-top: 2.6315789474vw;
}
.dialog__content-gap {
  display: grid;
}
.dialog__content-gap_30 {
  gap: 1.5789473684vw;
}
.dialog__content-checkbox {
  display: block;
  content: "&#x2713";
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  max-height: 0.9473684211vw;
  max-width: 0.9473684211vw;
  border: #ACB6BF 0.1052631579vw solid;
  border-radius: 0.3157894737vw;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
.dialog__content-checkbox img {
  display: none;
}
.dialog__content input:checked + label {
  border: none;
}
.dialog__content input:checked + label img {
  display: block;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
}

.notify {
  position: fixed;
  top: 3.1578947368vw;
  right: 0;
  width: 20.8421052632vw;
  height: 5.7894736842vw;
  display: flex;
  align-items: center;
  gap: 1.0526315789vw;
  padding: 1.5789473684vw 1.0526315789vw 1.5789473684vw 1.5789473684vw;
  border-bottom-left-radius: 1.5789473684vw;
}
.notify_red {
  background: #FFE6E6;
}
.notify_red p {
  color: #FF0000;
}
.notify_green {
  background: #EEF7EE;
}
.notify_green p {
  color: #4CAF50;
}
.notify__box {
  min-width: 2.6315789474vw;
  min-height: 2.6315789474vw;
  max-width: 2.6315789474vw;
  max-height: 2.6315789474vw;
  width: 2.6315789474vw;
  height: 2.6315789474vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 0.5263157895vw;
}
.notify__box-cross {
  width: 1.0526315789vw;
  height: 1.0526315789vw;
  user-select: none;
}
.notify__box-tick {
  width: 1.0526315789vw;
  height: 0.8947368421vw;
  user-select: none;
}

.hide-on-desktop {
  display: none;
}

@media (max-width: 768px) {
  .hide-on-desktop {
    display: block;
  }
  a, p, h1, h2, h3, h4, h5, h6, button, input, label {
    overflow-wrap: break-word;
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 3.125vw;
  }
  .btn_black {
    display: block;
    text-align: center;
    width: 100%;
    padding: 3.125vw 0 3.4375vw;
    font-weight: 700;
    font-size: 3.125vw;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 2.5vw;
    background-color: #000000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: background-color ease-in-out 250ms;
  }
  .btn_black:disabled {
    cursor: auto;
    color: gray;
  }
  .input_white {
    position: relative;
    width: 100%;
    height: 9.375vw;
    background-color: #FFFFFF;
    border-radius: 2.5vw;
  }
  .input_white-field {
    position: absolute;
    left: 4.6875vw;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    background: none;
    border: none;
    outline: none;
  }
  .input_white-field::placeholder {
    color: #6F7071;
  }
  .input_white-eye {
    position: absolute;
    top: 4.0625vw;
    right: 4.53125vw;
    width: 4.375vw;
    height: 2.5vw;
    cursor: pointer;
    user-select: none;
  }
  .input_white-eye img {
    width: 100%;
    height: 100%;
  }
  .input_white-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.6875vw;
    width: 4.375vw;
    height: 4.375vw;
    cursor: pointer;
  }
  .input_white-search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dropdown {
    width: 100%;
    position: relative;
  }
  .dropdown-select {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 3.75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5vw;
    width: 100%;
    height: 9.375vw;
    cursor: pointer;
    transition: outline ease-in-out 250ms;
  }
  .dropdown-select-selected {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4.6875vw;
    color: #000000;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-selected span {
    color: #ACB6BF;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-selected p {
    color: #000000;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.6875vw;
    width: 2.1875vw;
    height: 1.25vw;
    user-select: none;
    pointer-events: none;
    transition: transform ease-in-out 250ms;
  }
  .dropdown-select-caret img {
    width: 100%;
    height: 100%;
  }
  .dropdown-select-caret_rotate {
    transform: rotate(180deg);
  }
  .dropdown-menu {
    position: absolute;
    width: 100%;
    list-style: none;
    background: #FFFFFF;
    border-radius: 2.5vw;
    transition: linear 250ms;
    z-index: 2;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
  }
  .dropdown-menu-wrapper {
    z-index: 20;
    overflow: hidden;
    overscroll-behavior-y: contain;
  }
  .dropdown-menu_open {
    grid-template-rows: 1fr;
    margin-top: 3.125vw;
  }
  .dropdown-menu-item {
    height: 9.375vw;
    padding: 2.1875vw 4.6875vw 2.5vw 4.6875vw;
    display: flex;
    align-items: center;
    border-radius: 2.5vw;
    transition: background ease-out 250ms;
    cursor: pointer;
  }
  .dropdown-menu-item-text {
    font-size: 3.75vw;
  }
  .dropdown-menu-item:hover {
    background: rgba(183, 0, 255, 0.1019607843);
  }
  .dropdown-menu-item_active {
    background: rgba(183, 0, 255, 0.1019607843);
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 7.8125vw;
    padding: 3.75vw 0 0;
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
  }
  .header__logo {
    width: 29.375vw;
    height: 7.5vw;
    margin-left: 6.25vw;
    margin-right: auto;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__link {
    font-size: 3.75vw;
    transition: color ease-in-out 250ms;
  }
  .header__link:hover {
    color: #B700FF;
  }
  .header__link_active {
    color: #B700FF;
  }
  .header__link_mid {
    margin: 0;
  }
  .header__btnMob {
    width: 6.25vw;
    height: 6.25vw;
  }
  .header__btnMob img {
    width: 100%;
    height: 100%;
  }
  .header__notify {
    position: relative;
    width: 4.21875vw;
    height: 4.921875vw;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .header__notify img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter ease-in-out 250ms;
  }
  .header__notify img:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
  }
  .header__notify-new {
    position: absolute;
    top: -0.46875vw;
    right: -0.46875vw;
    display: block;
    content: "";
    width: 2.109375vw;
    height: 2.109375vw;
    border-radius: 50%;
    outline: #FFFFFF solid 0.46875vw;
    background-color: #B700FF;
    pointer-events: none;
    user-select: none;
  }
  .header__profile {
    width: 4.375vw;
    height: 4.375vw;
    margin-right: 6.25vw;
    transition: filter ease-in-out 250ms;
  }
  .header__profile:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
  }
  .header__profile img {
    width: 100%;
    height: 100%;
  }
  .header__mob {
    display: flex;
    gap: 6.25vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.9375vw;
    margin-top: 4.375vw;
    background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
  }
  .auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81.875vw;
    display: grid;
    align-items: center;
    text-align: center;
  }
  .auth__head {
    font-weight: 700;
    font-size: 6.25vw;
    margin-bottom: 3.125vw;
  }
  .auth__input {
    margin-top: 4.6875vw;
  }
  .auth__link {
    color: rgba(0, 0, 0, 0.5019607843);
    margin-top: 3.125vw;
  }
  .auth__btn {
    margin-top: 7.8125vw;
  }
  .auth__text {
    margin-top: 3.125vw;
  }
  .auth__text a {
    color: #B700FF;
  }
  .main {
    padding: 32.8125vw 4.6875vw;
    display: grid;
    gap: 6.25vw;
  }
  .main__filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125vw 2.5vw;
    max-width: 90.625vw;
    width: 90.625vw;
    height: unset;
  }
  .main__filters-input {
    grid-column: span 2;
  }
  .main__filters-dropdown_1 {
    grid-column: span 2;
  }
  .main__events {
    display: grid;
    gap: 4.6875vw;
  }
  .main__events-head {
    font-weight: 700;
    font-size: 6.25vw;
  }
  .main__events-content {
    display: grid;
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 85.3125vw;
    gap: 0;
    margin: 0 -4.6875vw;
    padding-right: 4.6875vw;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 4.6875vw;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .main__events-content::-webkit-scrollbar {
    display: none;
  }
  .main__events-content-slide {
    display: grid;
    grid-template-rows: 45.625vw 18.75vw 1fr 11.875vw;
    background-color: #FFFFFF;
    border-radius: 5.859375vw;
    height: 100%;
    margin-left: 4.6875vw;
    scroll-snap-align: start;
  }
  .main__events-content-slide-pic {
    position: relative;
    width: 100%;
    height: 45.625vw;
    border-radius: 4.6875vw;
    overflow: hidden;
    transition: transform ease-in-out 250ms;
  }
  .main__events-content-slide-pic:hover {
    transform: scale(1);
  }
  .main__events-content-slide-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }
  .main__events-content-slide-pic p {
    position: absolute;
    bottom: 3.125vw;
    left: 3.125vw;
    font-size: 2.8125vw;
    background-color: #FFFFFF;
    border-radius: 1.875vw;
    padding: 1.875vw 3.75vw;
    box-shadow: 0 0 6.25vw 0 rgba(0, 0, 0, 0.1215686275);
  }
  .main__events-content-slide-head {
    font-size: 5vw;
    margin: 3.125vw 4.6875vw;
  }
  .main__events-content-slide-dates {
    display: flex;
    gap: 6.25vw;
    margin: 0 4.6875vw 1.5625vw;
  }
  .main__events-content-slide-dates-date {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 0.3125vw 1.875vw;
  }
  .main__events-content-slide-dates-date span {
    grid-column: span 2;
    font-size: 3.4375vw;
    color: #ACB6BF;
  }
  .main__events-content-slide-dates-date h4 {
    grid-row: span 2;
    font-size: 7.5vw;
  }
  .main__events-content-slide-dates-date p {
    font-size: 2.8125vw;
    align-self: end;
  }
  .main__events-content-slide-dates-date p:last-child {
    align-self: start;
  }
  .main__events-content-slide-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 4.6875vw 4.6875vw;
  }
  .main__events-content-slide-info p {
    font-size: 3.4375vw;
    color: #ACB6BF;
  }
  .main__events-content-slide-info-price {
    font-weight: 700;
    font-size: 2.8125vw;
    color: #B700FF;
    padding: 1.875vw 3.75vw;
    background-color: rgba(183, 0, 255, 0.1019607843);
    border-radius: 1.875vw;
  }
  .main__events-content-slide-info-price_free {
    color: #4BB543;
    background-color: rgba(75, 181, 67, 0.1019607843);
  }
  .hide-on-mob {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
