@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

html, body {
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  background-color: #F2F4F7;
}

body:has(dialog[open]) {
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6, button, input, label, span, div {
  overflow-wrap: break-word;
  font-family: Montserrat, sans-serif;
  color: black;
  font-weight: 600;
  font-size: 0.9473684211vw;
  text-decoration: none;
}

.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  clip: rect(0 0 0 0);
  margin: -1px;
  visibility: hidden;
}

.undisplayed {
  display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.hide-on-mob {
  display: block;
}

.btn_black {
  display: block;
  text-align: center;
  width: 100%;
  padding: 1vw 0;
  font-size: 0.9473684211vw;
  color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 0.7894736842vw;
  background-color: #000000;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  transition: background-color ease-in-out 250ms;
}
.btn_black:hover {
  background-color: #2E0041;
}
.btn_black:disabled {
  cursor: auto;
  color: gray;
}

.input_white {
  position: relative;
  width: 100%;
  height: 2.6315789474vw;
  background-color: #FFFFFF;
  border-radius: 0.7894736842vw;
}
.input_white-field {
  position: absolute;
  left: 1.5789473684vw;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  background: none;
  border: none;
  outline: none;
}
.input_white-field::placeholder {
  color: #6F7071;
}
.input_white-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5789473684vw;
  width: 1.1052631579vw;
  height: 0.6842105263vw;
  cursor: pointer;
  user-select: none;
  transition: opacity ease-in-out 250ms;
  opacity: 0;
}
.input_white-eye_active {
  opacity: 1;
}
.input_white-eye img {
  width: 100%;
  height: 100%;
}
.input_white-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.0526315789vw;
  width: 0.9473684211vw;
  height: 0.9473684211vw;
  cursor: pointer;
}
.input_white-search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown {
  width: 100%;
  position: relative;
}
.dropdown-select {
  background: #FFFFFF;
  font-weight: 600;
  font-size: 0.8421052632vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.6315789474vw;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: outline ease-in-out 250ms;
}
.dropdown-select-selected {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.0526315789vw;
  color: #000000;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-selected span {
  color: #ACB6BF;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-selected p {
  color: #000000;
  font-weight: 600;
  font-size: 0.8421052632vw;
}
.dropdown-select-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.0526315789vw;
  width: 0.7368421053vw;
  height: 0.4736842105vw;
  user-select: none;
  pointer-events: none;
  transition: transform ease-in-out 250ms;
}
.dropdown-select-caret img {
  width: 100%;
  height: 100%;
}
.dropdown-select-caret_rotate {
  transform: rotate(180deg);
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  list-style: none;
  background: #FFFFFF;
  border-radius: 0.6315789474vw;
  transition: linear 250ms;
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
}
.dropdown-menu-wrapper {
  z-index: 20;
  overflow: hidden;
  overscroll-behavior-y: contain;
}
.dropdown-menu_open {
  grid-template-rows: 1fr;
  margin-top: 0.7894736842vw;
}
.dropdown-menu-item {
  height: 2.6315789474vw;
  padding: 0.7894736842vw 1.0526315789vw 0.7894736842vw 1.0526315789vw;
  display: flex;
  align-items: center;
  border-radius: 0.6315789474vw;
  transition: background ease-out 250ms;
  cursor: pointer;
}
.dropdown-menu-item-text {
  font-size: 0.8421052632vw;
}
.dropdown-menu-item:hover {
  background: rgba(183, 0, 255, 0.1019607843);
}
.dropdown-menu-item_active {
  background: rgba(183, 0, 255, 0.1019607843);
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.1052631579vw;
  padding: 0.5263157895vw 10.5263157895vw;
  width: 100%;
  height: 3.1578947368vw;
  background-color: #FFFFFF;
}
.header__logo {
  width: 5.9473684211vw;
  height: 1.5263157895vw;
  margin-right: 20.5263157895vw;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__link {
  font-size: 0.9473684211vw;
  transition: color ease-in-out 250ms;
}
.header__link:hover {
  color: #B700FF;
}
.header__link_active {
  color: #B700FF;
}
.header__link_mid {
  margin: 0 1.1578947368vw;
}
.header__btn {
  margin-left: auto;
  padding: 0.2631578947vw 0.8421052632vw 0.3684210526vw;
  font-size: 0.8421052632vw;
  color: #B700FF;
  outline: #B700FF solid 0.1578947368vw;
  border-radius: 0.7368421053vw;
  transition: color ease-in-out 250ms, background-color ease-in-out 250ms;
}
.header__btn:hover {
  color: #FFFFFF;
  background-color: #B700FF;
}
.header__notify {
  position: relative;
  width: 0.9473684211vw;
  height: 1.1052631579vw;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.header__notify img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter ease-in-out 250ms;
}
.header__notify img:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
}
.header__notify-new {
  position: absolute;
  top: -0.1052631579vw;
  right: -0.1052631579vw;
  display: block;
  content: "";
  width: 0.4736842105vw;
  height: 0.4736842105vw;
  border-radius: 50%;
  outline: #FFFFFF solid 0.1578947368vw;
  background-color: #B700FF;
  pointer-events: none;
  user-select: none;
}
.header__profile {
  width: 1.1052631579vw;
  height: 1.1052631579vw;
  transition: filter ease-in-out 250ms;
}
.header__profile:hover {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
}
.header__profile img {
  width: 100%;
  height: 100%;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.9473684211vw;
  display: grid;
  align-items: center;
  text-align: center;
}
.auth__head {
  font-weight: 700;
  font-size: 1.6842105263vw;
  margin-bottom: 1.0526315789vw;
}
.auth__input {
  margin-top: 1.5789473684vw;
  height: 3.1578947368vw;
}
.auth__link {
  color: rgba(0, 0, 0, 0.5019607843);
  margin-top: 1.0526315789vw;
  transition: color ease-in-out 250ms;
}
.auth__link:hover {
  color: #000000;
}
.auth__btn {
  margin-top: 2.6315789474vw;
}
.auth__text {
  margin-top: 1.0526315789vw;
}
.auth__text a {
  color: #B700FF;
}

.main {
  padding: 5.7894736842vw 10.5263157895vw;
  display: grid;
  gap: 2.6315789474vw;
}
.main__filters {
  display: grid;
  grid-template-columns: 1fr repeat(3, 14.7368421053vw);
  gap: 2.1052631579vw;
  height: 2.6315789474vw;
}
.main__events {
  display: grid;
  gap: 2.1052631579vw;
}
.main__events-head {
  font-weight: 700;
  font-size: 1.4736842105vw;
}
.main__events-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.1052631579vw;
}
.main__events-content-slide {
  display: grid;
  grid-template-rows: 10.2631578947vw 4.3684210526vw 1fr 2.5789473684vw;
  background-color: #FFFFFF;
  border-radius: 1.3157894737vw;
  height: 100%;
}
.main__events-content-slide-pic {
  position: relative;
  width: 100%;
  height: 10.2631578947vw;
  border-radius: 1.3157894737vw;
  overflow: hidden;
  transition: transform ease-in-out 250ms;
}
.main__events-content-slide-pic:hover {
  transform: scale(1.04);
}
.main__events-content-slide-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
}
.main__events-content-slide-pic p {
  position: absolute;
  bottom: 1.0526315789vw;
  left: 1.0526315789vw;
  font-size: 0.5789473684vw;
  background-color: #FFFFFF;
  border-radius: 0.4210526316vw;
  padding: 0.4210526316vw 0.8421052632vw;
  box-shadow: 0 0 1.0526315789vw 0 rgba(0, 0, 0, 0.1215686275);
}
.main__events-content-slide-head {
  font-size: 1.0526315789vw;
  margin: 1.0526315789vw 1.0526315789vw 0.7894736842vw;
}
.main__events-content-slide-dates {
  display: flex;
  gap: 1.5789473684vw;
  margin: 0 1.0526315789vw 0.2631578947vw;
}
.main__events-content-slide-dates-date {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 0.1052631579vw 0.4210526316vw;
}
.main__events-content-slide-dates-date span {
  grid-column: span 2;
  font-size: 0.7368421053vw;
  color: #ACB6BF;
}
.main__events-content-slide-dates-date h4 {
  grid-row: span 2;
  font-size: 1.8947368421vw;
}
.main__events-content-slide-dates-date p {
  font-size: 0.7368421053vw;
  align-self: end;
}
.main__events-content-slide-dates-date p:last-child {
  align-self: start;
}
.main__events-content-slide-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 1.0526315789vw 1.0526315789vw;
}
.main__events-content-slide-info p {
  font-size: 0.7368421053vw;
  color: #ACB6BF;
}
.main__events-content-slide-info-price {
  font-weight: 700;
  font-size: 0.5789473684vw;
  color: #B700FF;
  padding: 0.4210526316vw 0.8421052632vw;
  background-color: rgba(183, 0, 255, 0.1019607843);
  border-radius: 0.4210526316vw;
}
.main__events-content-slide-info-price_free {
  color: #4BB543;
  background-color: rgba(75, 181, 67, 0.1019607843);
}

.hide-on-desktop {
  display: none;
}

@media (max-width: 768px) {
  .hide-on-desktop {
    display: block;
  }
  a, p, h1, h2, h3, h4, h5, h6, button, input, label {
    overflow-wrap: break-word;
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 3.125vw;
  }
  .btn_black {
    display: block;
    text-align: center;
    width: 100%;
    padding: 3.125vw 0 3.4375vw;
    font-weight: 700;
    font-size: 3.125vw;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 2.5vw;
    background-color: #000000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: background-color ease-in-out 250ms;
  }
  .btn_black:disabled {
    cursor: auto;
    color: gray;
  }
  .input_white {
    position: relative;
    width: 100%;
    height: 9.375vw;
    background-color: #FFFFFF;
    border-radius: 2.5vw;
  }
  .input_white-field {
    position: absolute;
    left: 4.6875vw;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    background: none;
    border: none;
    outline: none;
  }
  .input_white-field::placeholder {
    color: #6F7071;
  }
  .input_white-eye {
    position: absolute;
    top: 4.0625vw;
    right: 4.53125vw;
    width: 4.375vw;
    height: 2.5vw;
    cursor: pointer;
    user-select: none;
  }
  .input_white-eye img {
    width: 100%;
    height: 100%;
  }
  .input_white-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.6875vw;
    width: 4.375vw;
    height: 4.375vw;
    cursor: pointer;
  }
  .input_white-search img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dropdown {
    width: 100%;
    position: relative;
  }
  .dropdown-select {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 3.75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.5vw;
    width: 100%;
    height: 9.375vw;
    cursor: pointer;
    transition: outline ease-in-out 250ms;
  }
  .dropdown-select-selected {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4.6875vw;
    color: #000000;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-selected span {
    color: #ACB6BF;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-selected p {
    color: #000000;
    font-weight: 600;
    font-size: 3.75vw;
  }
  .dropdown-select-caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.6875vw;
    width: 2.1875vw;
    height: 1.25vw;
    user-select: none;
    pointer-events: none;
    transition: transform ease-in-out 250ms;
  }
  .dropdown-select-caret img {
    width: 100%;
    height: 100%;
  }
  .dropdown-select-caret_rotate {
    transform: rotate(180deg);
  }
  .dropdown-menu {
    position: absolute;
    width: 100%;
    list-style: none;
    background: #FFFFFF;
    border-radius: 2.5vw;
    transition: linear 250ms;
    z-index: 2;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
  }
  .dropdown-menu-wrapper {
    z-index: 20;
    overflow: hidden;
    overscroll-behavior-y: contain;
  }
  .dropdown-menu_open {
    grid-template-rows: 1fr;
    margin-top: 3.125vw;
  }
  .dropdown-menu-item {
    height: 9.375vw;
    padding: 2.1875vw 4.6875vw 2.5vw 4.6875vw;
    display: flex;
    align-items: center;
    border-radius: 2.5vw;
    transition: background ease-out 250ms;
    cursor: pointer;
  }
  .dropdown-menu-item-text {
    font-size: 3.75vw;
  }
  .dropdown-menu-item:hover {
    background: rgba(183, 0, 255, 0.1019607843);
  }
  .dropdown-menu-item_active {
    background: rgba(183, 0, 255, 0.1019607843);
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 7.8125vw;
    padding: 3.75vw 0 0;
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
  }
  .header__logo {
    width: 29.375vw;
    height: 7.5vw;
    margin-left: 6.25vw;
    margin-right: auto;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__link {
    font-size: 3.75vw;
    transition: color ease-in-out 250ms;
  }
  .header__link:hover {
    color: #B700FF;
  }
  .header__link_active {
    color: #B700FF;
  }
  .header__link_mid {
    margin: 0;
  }
  .header__btnMob {
    width: 6.25vw;
    height: 6.25vw;
  }
  .header__btnMob img {
    width: 100%;
    height: 100%;
  }
  .header__notify {
    position: relative;
    width: 4.21875vw;
    height: 4.921875vw;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .header__notify img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter ease-in-out 250ms;
  }
  .header__notify img:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
  }
  .header__notify-new {
    position: absolute;
    top: -0.46875vw;
    right: -0.46875vw;
    display: block;
    content: "";
    width: 2.109375vw;
    height: 2.109375vw;
    border-radius: 50%;
    outline: #FFFFFF solid 0.46875vw;
    background-color: #B700FF;
    pointer-events: none;
    user-select: none;
  }
  .header__profile {
    width: 4.375vw;
    height: 4.375vw;
    margin-right: 6.25vw;
    transition: filter ease-in-out 250ms;
  }
  .header__profile:hover {
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(4593%) hue-rotate(279deg) brightness(109%) contrast(124%);
  }
  .header__profile img {
    width: 100%;
    height: 100%;
  }
  .header__mob {
    display: flex;
    gap: 6.25vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.9375vw;
    margin-top: 4.375vw;
    background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
  }
  .auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81.875vw;
    display: grid;
    align-items: center;
    text-align: center;
  }
  .auth__head {
    font-weight: 700;
    font-size: 6.25vw;
    margin-bottom: 3.125vw;
  }
  .auth__input {
    margin-top: 4.6875vw;
  }
  .auth__link {
    color: rgba(0, 0, 0, 0.5019607843);
    margin-top: 3.125vw;
  }
  .auth__btn {
    margin-top: 7.8125vw;
  }
  .auth__text {
    margin-top: 3.125vw;
  }
  .auth__text a {
    color: #B700FF;
  }
  .main {
    padding: 32.8125vw 4.6875vw;
    display: grid;
    gap: 6.25vw;
  }
  .main__filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125vw 2.5vw;
    max-width: 90.625vw;
    width: 90.625vw;
    height: unset;
  }
  .main__filters-input {
    grid-column: span 2;
  }
  .main__filters-dropdown_1 {
    grid-column: span 2;
  }
  .main__events {
    display: grid;
    gap: 4.6875vw;
  }
  .main__events-head {
    font-weight: 700;
    font-size: 6.25vw;
  }
  .main__events-content {
    display: grid;
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 85.3125vw;
    gap: 0;
    margin: 0 -4.6875vw;
    padding-right: 4.6875vw;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 4.6875vw;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .main__events-content::-webkit-scrollbar {
    display: none;
  }
  .main__events-content-slide {
    display: grid;
    grid-template-rows: 45.625vw 18.75vw 1fr 11.875vw;
    background-color: #FFFFFF;
    border-radius: 5.859375vw;
    height: 100%;
    margin-left: 4.6875vw;
    scroll-snap-align: start;
  }
  .main__events-content-slide-pic {
    position: relative;
    width: 100%;
    height: 45.625vw;
    border-radius: 4.6875vw;
    overflow: hidden;
    transition: transform ease-in-out 250ms;
  }
  .main__events-content-slide-pic:hover {
    transform: scale(1);
  }
  .main__events-content-slide-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }
  .main__events-content-slide-pic p {
    position: absolute;
    bottom: 3.125vw;
    left: 3.125vw;
    font-size: 2.8125vw;
    background-color: #FFFFFF;
    border-radius: 1.875vw;
    padding: 1.875vw 3.75vw;
    box-shadow: 0 0 6.25vw 0 rgba(0, 0, 0, 0.1215686275);
  }
  .main__events-content-slide-head {
    font-size: 5vw;
    margin: 3.125vw 4.6875vw;
  }
  .main__events-content-slide-dates {
    display: flex;
    gap: 6.25vw;
    margin: 0 4.6875vw 1.5625vw;
  }
  .main__events-content-slide-dates-date {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 0.3125vw 1.875vw;
  }
  .main__events-content-slide-dates-date span {
    grid-column: span 2;
    font-size: 3.4375vw;
    color: #ACB6BF;
  }
  .main__events-content-slide-dates-date h4 {
    grid-row: span 2;
    font-size: 7.5vw;
  }
  .main__events-content-slide-dates-date p {
    font-size: 2.8125vw;
    align-self: end;
  }
  .main__events-content-slide-dates-date p:last-child {
    align-self: start;
  }
  .main__events-content-slide-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 4.6875vw 4.6875vw;
  }
  .main__events-content-slide-info p {
    font-size: 3.4375vw;
    color: #ACB6BF;
  }
  .main__events-content-slide-info-price {
    font-weight: 700;
    font-size: 2.8125vw;
    color: #B700FF;
    padding: 1.875vw 3.75vw;
    background-color: rgba(183, 0, 255, 0.1019607843);
    border-radius: 1.875vw;
  }
  .main__events-content-slide-info-price_free {
    color: #4BB543;
    background-color: rgba(75, 181, 67, 0.1019607843);
  }
  .hide-on-mob {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
